<!DOCTYPE html>
<html lang="en">

<!-- se obtiene el head de la carpeta Partials -->
<%- include("../partials/head-users") %>

  <body>
    <!-- se obtiene el header de la carpeta  Partials -->
    <%- include("../partials/header") %>
      <main>
        <form method="GET" action="/users/user-profile">
          <div class="register-container">
            <h1>Listado de Perfiles Activos</h1>
            <ul>
              <% for( let i=0; i < perfiles.length; i++ ) { %>
                <li>
                  <a href="perfil-user-detail/<%= perfiles[i].id %>">
                    <%= perfiles[i].namePerfil %>
                  </a>
                </li>
                <% } %>
            </ul>
          </div>
          <div class="register-container">
            <h1>Listado de Usuarios Borrados</h1>
            <ul>
              <% for( let i=0; i < perfilesBorrados.length; i++ ) { %>
                <li>
                  <a href="perfil-user-detail/<%= perfilesBorrados[i].id%>">
                    <%= perfilesBorrados[i].namePerfil %>
                  </a>
                </li>
                <% } %>
            </ul>
          </div>
        </form>

      </main>
  </body>

</html>